<div class="aboutMe">
    <h1>About Me</h1>

    <div class="aboutMe__text">
        <p>Detail-oriented and passionate Angular Developer with over 2
            years of hands-on experience building responsive and dynamic
            web applications. Skilled in creating modern front-end solutions
            using Angular, and also familiar with backend development using
            Node.js. Comfortable working in team environments, writing
            clean code, and always focused on building smooth, userfriendly experiences.
        </p>
    </div>
</div>