.projects{
    position: relative;
    color: white;

    h1{
        width: 345px;
        padding-left: 20px;
        margin: 0 auto 30px;
    }

    &__box{
        width: 360px;
        margin: 0 auto 40px;
        img{
            width: 350px;
            margin: 0 auto;
            border-radius: 20px;
            margin-bottom: 15px;
        }
        a{
            text-decoration: none;
            color: white;
            font-size: 18px;
            padding-left: 10px;
        }
        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}